body{
    margin: 0 0;
    background-image: url("images.jpg") ;
    background-size: cover;

}
#title{
    font-weight: bold;
    text-align: center;
    font-family: monospace;
    text-decoration: rgb(5, 112, 161);
    color: cornflowerblue;

}
#my_self{
    font-size: 1.5em;
    text-align: center;
    text-decoration: aquamarine;
}
hr{
    height: 5px;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    padding: 0 0;
    margin: 0 0;
}
#dec{
    float: left;
    height: 92px;
    width: 280px;
    padding: 0 0;
    margin: 0 0;
}
#dec_2{
    float: right;
    height: 92px;
    width: 280px;
    padding: 0 0;
    margin: 0 0;
}
#subj{
   
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bolder;
}
h3{
    color: cornflowerblue;
    padding-left: 75px;
}
h4{
    padding: 0 10px;
    margin: 10px 0px;
}
#img{
    float: right;
    height: 250px;
}
#div_2{
    padding-left: 115px;
    padding-right: 115px;
}
#movie{
    text-align: center;
    padding-left: 75px;
    color: cornflowerblue;
}
#Subject{
    text-align: center;
    padding-left: 75px;
    color: cornflowerblue;
}
.movie{
       
    height: 450px;
    padding: 5px 67px;
    box-shadow: 2em;

    
}
#div_3{
    padding-left: 115px;
    padding-right: 115px;
}
#mood{
    text-align: center;
    padding-left: 75px;
 color: cornflowerblue;   
}
#happy{
    font-size: 25px;
    font-family: monospace;
    float: left;
    padding: 20px 200px;
    font-weight: bold;
    color: tomato;
}
#sad{
    font-size: 25px;
    font-family: monospace;
    float: right;
    font-weight: bold;
    padding: 20px 200px;
    color: tomato;
}
#div_4{
    padding-left: 100px;
    padding-right: 100px;
}
#pic_happy{
    float: left;
    height: 300px;
}
#pic_sad{
    float: right;
    height: 400px;

}
#div_5{
    padding-right: 120px;
    padding-left: 170px;
}
#fact{
    text-align: center;
    padding-left: 75px;
 color: cornflowerblue; 
}
.a{
    font-family: sans-serif;
    font-size: 1.1em;
    color: #002d81;
    text-align: center;
}
#div_6{
    padding-left: 115px;
    padding-right: 115px;
}